.input_bar {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.label {
  color: #818182;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
